div{
    box-sizing: border-box;
}

body{
    margin: 0px;
}
/* css 생성할때 웬만한 디폴트 설정해주고 생성  */

.background{
    width: 100%;
    height: 500px;
    background-image: url(../images/music.jpg);
    /* 백그라운드 꽉차게 하기 */
    background-size: cover;
    /* 백그라운드 반복안하게 하기 */
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    /* 밝기 높이기 */
    filter: brightness(130%) opacity(0.9);
}

.maintitle{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.love{
    width: 170px;
    height: 170px;
    background-color: white;
    float: left;
    margin-top: 40px;
    margin-left: 80px;
}

.faraway{
    width: 170px;
    height: 170px;
    background-color: white;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
}

.spring{
    width: 170px;
    height: 170px;
    background-color: white;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
}

.btnstyle{
    /* 내부여백 변경 */
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    /* 좌표 줄때, 내 원래 위치 기준으로 이동하세요 */
    position: relative;
    top: 10px;
    /* 버튼 고정, 스크롤로 내려도 그위치에 고정되어있음 */
    /* position: fixed; */
    /* 부모 위치 기준 */
    /* position: absolute; */
}

.btnhp{
    width: 30px;
    height: 30px;
}

.pos{
    width: 120px;
    height: 120px;
    /* 반응 width 쓰려면 width에 %쓰면됨 */
    /* width 최대 크기 지정할려면 max-width: ; */
    background: gray;
    position: relative;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    /* 숫자 높을수록 더 띄워짐 */
    /* z-index: 5; */

    /* 테두리도 박스 사이즈에 포함해라(padding, border포함) */
    box-sizing: border-box;
}